@import url('https://fonts.cdnfonts.com/css/general-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121212;
  font-family: 'General Sans', sans-serif;
}

/* body::-webkit-scrollbar {
  display: none; 
} TODO: ADD WHEN READY */ 